html.eink-viewable-on ::-webkit-scrollbar {
    width: 10px;
}

html.eink-viewable-on ::-webkit-scrollbar-track,
html.eink-viewable-on ::-webkit-scrollbar-thumb,
html.eink-viewable-on ::-webkit-scrollbar-thumb:hover {
    background-color: #fff !important;
}

html.eink-viewable-on ::-webkit-scrollbar-thumb {
    border: 1px solid #000 !important;
}

html.eink-viewable-on ::selection {
    background: #000 !important;
    color: #fff !important;
}
